div.fixed
{
    border-width: 0px;
    font-family: monospace;
    font-size: 10pt;
    padding: 0px;
    white-space: pre;
}

div.graybox
{
    background-color: #ddddff;
    color: black;
    padding: 2px;
    height: 30px;
    vertical-align: middle;
}

div.colorPicker
{
    background-color: #ddddff;
    color: black;
    padding: 2px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
}

div.ls
{
    font-family: monospace;
    font-weight: normal;
    white-space: pre;
}

span#cursor
{
    background-color: #000000;
    color: #ffffff;
    font-family: monospace;
    white-space: pre;
}
